numpy==1.21.5
torch
tokenizers
torchvision
torchaudio
tokenizers
accelerate==0.25.0
tornado
pyarrow==9.0.0
datasets==2.4.0
huggingface-hub==0.17.3
evaluate==0.2.2
multiprocess==0.70.13
openpyxl
nltk==3.7
pandas==1.4.4
scikit-learn==1.1.2
safetensors==0.4.1
scipy==1.9.1
sentencepiece==0.1.97
sentence-transformers==2.2.2
transformers==4.23.0
spacy==3.8.14
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
